body {
  background-color: #5c48d2;
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 48px;
  color: white;
  line-height: 200px;
  text-align: center;
}

.main-block {
  width: 1024px;
  background-color: white;
  border-radius: 20px;
  margin: 0 auto;
}

.main-image {
  height: 400px;
  width: 1024px;
  object-fit: cover;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  line-height: 100px;
  font-size: 20px;
  text-decoration: none;
  color: #190f33;
  text-align: center;
  flex: 1;
}

a:hover {
  color: #5c48d2;
  cursor: pointer;
}

p {
  line-height: 30px;
  margin: 40px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #190f33;
  margin-bottom: 80px;
}
h3 {
  font-size: 26px;
  font-weight: bold;
  color: #190f33;
  margin-bottom: 40px;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

li {
  line-height: 30px;
  list-style-type: disc;
}

#education,
#contact {
  background-color: #eeeef7;
}

#about-me img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border-color: #fcc01a;
  object-fit: cover;
  object-position: top;
}

#about-me div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 38px;
  font-weight: bold;
  color: #190f33;
  margin-bottom: 50px;
}

.city {
  font-size: 30px;
  font-style: italic;
  color: #190f33;
}

#education div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#education div img {
  height: 100px;
}

p span {
  font-weight: bold;
}

div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#projects div div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#projects div {
  margin-bottom: 100px;
}

#projects div img {
  height: 400px;
  width: 700px;
}

#contact img {
  height: 30px;
  margin-right: 20px;
}

}
footer p {
  color: #c4c4c4;
  line-height: 40px;
  margin: none;
}

footer a {
  color: #fcc01a;
  line-height: 40px;
}

footer {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer a:hover {
  color: #190f33;
}
